<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hidden]="true" *navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="grad no-scroll" padding>
  <div style="margin: auto;text-align:center;padding-top:10%;">
    <img src="./assets/img/logo.png" style="width:40%;height:50%;">

    <div style="color:white;font-family: Comic Sans MS,sans-serif,cursive;">
      <span style="font-size:2em;">ONTIME</span><span style="font-size:1.5em;">courier</span>
    </div>
  </div>

  <!--<div class="row">
    <div class="col col-20"></div>
    <div class="col">
      <button class="button button-large button-positive button-block">LOGIN</button>
    </div>
    <div class="col col-20"></div>
  </div>-->
   <form [formGroup]="loginForm" (submit)="loginUser()" style="text-align:center;margin-top:10%" novalidate>
  
    <!--<ion-list>

  <ion-item>
    <ion-input type="text" placeholder="Username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>

</ion-list>

    <div padding style="text-align: center">
      <button ion-button round class="sans-pro-light btnBotom" (click)="loginTapped()">Login</button>
    </div>
  </form>-->


  <ion-item style="padding-left:3%;padding-right:3%;">
      <!--<ion-label stacked>Email</ion-label>-->
      <ion-input #email formControlName="email" type="email" placeholder="Email address"
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" style="padding-left:3%;padding-right:3%;" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item style="padding-left:3%;padding-right:3%;">
      <ion-input #password formControlName="password" type="password" placeholder="Password"
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" style="padding-left:3%;padding-right:3%;" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button round class="sans-pro-light btnBotom" type="submit" style="margin-top:5%">
      LOGIN
    </button>

  </form>

</ion-content>

<!--<ion-footer-bar ui-sref="app.signup" class="bar bar-positive">
    <h1 class="title sans-pro-light">Signup here</h1>
  </ion-footer-bar>-->

<ion-footer class="bar bar-positive bar-deepblue-bordertop btnBottom" (click)="signupTapped()">
  <h3 class="sans-pro-light" style="color:white;font-size:medium;text-align:center">Signup here</h3>
</ion-footer>