page-home {
.no-scroll .scroll-content{
     overflow: hidden;
}



  #map {
      height: 100%;
  }

.fromDiv {
    width: 100%;
    position: relative;
    z-index: 1;
}

.toDiv {
    width: 100%;
    position: relative;
    z-index: 1;
}

.search_list{
    width: 100%;
    position: relative;
    z-index: 1;
}

.div2 {
    height: 100%;
    width: 100%;
      position: absolute;
  left: 0;
  top: 0;
}






}
.grad {
  background: #00c6ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #00c6ff , #0072ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00c6ff, #0072ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00c6ff, #0072ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00c6ff , #0072ff); /* Standard syntax */
}

.bar-deepblue-bordertop {
    border-top: solid rgba(238, 238, 238, 0.8) 1px; 
    }

.btnBottom{
    background: #387ef5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #387ef5 , #387ef5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #387ef5, #387ef5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #387ef5, #387ef5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #387ef5 , #387ef5); /* Standard syntax */
}

