<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ONTIMEcourier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">

  <div class="fromDiv" id="fromDiv">
		<ion-searchbar id="searchbar1" [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"
			placeholder="Delivery Location">
		</ion-searchbar>
		<ion-list>
			<ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
				<a style="text-decoration: none" href="#">{{ item.description }}</a>
			</ion-item>
		</ion-list>
	</div>

  <div class="toDiv" id="toDiv">
    <ion-searchbar id="searchbar2" [(ngModel)]="autocomplete2.query" [showCancelButton]="true" (ionInput)="updateSearch2()" (ionCancel)="dismiss()"
      placeholder="Delivery Location">
    </ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item2 of autocompleteItems2" (click)="chooseItem2(item2)" >
        <a style="text-decoration: none" href="#">{{ item2.description }}</a>
      </ion-item>
    </ion-list>
  </div>

<div>
  <button ion-button full (click)="drawPath()">Calculate Fee</button>
</div>

	<div class="div2">
		<div id="map"></div>
	</div>
</ion-content>
