page-profilejobs {

}
.grad {
  background: #00c6ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #00c6ff , #0072ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00c6ff, #0072ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00c6ff, #0072ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00c6ff , #0072ff); /* Standard syntax */
}

.avatar-menu {
  border-radius: 50%;
  border: solid white 2px;
  height: 150px;
  width: 150px;
  margin: auto; }